<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/vet_style.css')}}">
</head>
<body>
    <div class="contianer">
        <h1>Dojo Animal Hospital</h1>
        <h2>All Owners</h2>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for owner in all_owners %}
                <tr>
                    <td>{{owner.first_name}}</td>
                    <td>{{owner.last_name}}</td>
                    <td>{{owner.email}}</td>
                    <td>{{owner.email|length}}</td>
                </tr>
                    
                {% endfor %}
                
            </tbody>

        </table>
        <a href="/owners/new">Add a new owner</a>
    </div>
</body>
</html>